* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(#2E3192, #1BFFFF); */
    /* background: linear-gradient(to right,#2E3192, #1BFFFF); */
    background: linear-gradient(to right,#11998E, #38EF7D);


}

.start-game-container {
    position: absolute;
    top: 5%;
    left: 15%;
    height: 85%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    border: solid #151B54 5px;
    border-radius: 25px;
    background-color: aliceblue;
    /* display: none; */
    z-index: 20;
}

.start-game2 {
    width: 220px;
    /* border: solid saddlebrown 2px; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.target-score {
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
}



.game-in-progress-container {

    position: relative;
    /* border: solid green 2px; */
    height: 100%;
    align-items: center;
}

.player {
    width: 35%;
    height: 100%;
    background-color: white;
    text-align: center;
    z-index: -1;

}

.dice-img {
    height: 100px;
    width: 100px;
    border: #151B54 solid 2px;
}

.game-buttons-container {
    /* position: absolute;
    left: 40%; */
    margin: auto;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: red solid 5px; */
    z-index: 10;

}

.button {
    width: 100px;
    cursor: pointer;
}

.player1-container {
    position: absolute;
    top: 0;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    opacity: 0.8;
}

.player2-container {
    position: absolute;
    top: 0;
    right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    opacity: 0.4;
}

.message1 {
    display: none;
}

.message2 {
    display: none;
}